.header {
	background-color: #ff6600;
	width: 100vw;
	max-width: 1280px;
	margin-bottom: 10px; 
}

.header  p {
	font-size: 26px;
}

.header  i {
	font-size: 26px;
}


.flex-container {
  	display: flex;
	width: 100vw;
	max-width: 1280px;
	margin-top: 0%;
	
}

.flex-container  div {	
 	font-size: 24px;
}

.flex-container  a {
  	text-decoration: none;
  	color: black;
  	margin-top: 2px;
}

.flex-container p {
	margin-top: 5px;
  	font-size: 30px;
  	margin-bottom: 0px;
  }

 .flex-container  a:hover {
  	color: white;
  	background-color: black;
}

.img {
	background-image: url('../images/images.jpg');
	width: 100vw;
	max-width: 1280px;
	height: 500px;
	background-repeat: no-repeat;
	color: white;
	margin-top: 0px;
}

.black {
	background-color: black;
	opacity: 50%;
	width: 85%;
	height: 45%;
	margin-left: 8%;
}

.black h1 {
	font-size: 42px;
	margin-top: 1%;
}

.black h2 {
	font-size: 35px;
}

.black p {
	font-size: 28px;
}

.font {
	width: 100vw;
	max-width: 1280px;
}
.font div {
	width: 33%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.d1 th {
	font-size: 28px;
	text-align: center;
}

.d1 td {
	font-size: 20px;
	text-align: center;
}

.d2 th {
	font-size: 28px;
	text-align: center;
}

.d2 td {
	font-size: 20px;
	text-align: center;
}

.d3 th {
	font-size: 28px;
	text-align: center;
}
.d3 td {
	font-size: 20px;
	text-align: center;
}

.d4 th {
	font-size: 28px;
	text-align: center;
}
.d4 td {
	font-size: 20px;
	text-align: center;
}

.d5 th {
	font-size: 28px;
	text-align: center;
}
.d5 td {
	font-size: 20px;
	text-align: center;
}

.about {
	background-color: #6E6E6E;
	width: 100vw;
	max-width: 1280px;
	height: 200px;
	padding: 5px;
	font-size: 20px;
}

.about button {
	background-color: #FF8000;
	border-color: #FF8000;
}

.gallery {
	width: 100vw;
	max-width: 1280px;
}

.gallery h1 {
	font-size: 44px;
}

.gallery div {
	width: 30%;
	display: inline-block;
	height: 40%;
}

.a {
	background-image: url('../images/1.jpg');
	background-repeat: no-repeat;
}
.b {
	background-image: url('../images/2.jpg');
	background-repeat: no-repeat;
}
.c {
	background-image: url('../images/3.jpg');
	background-repeat: no-repeat;
}
.d {
	background-image: url('../images/4.jpg');
	background-repeat: no-repeat;
}
.e {
	background-image: url('../images/5.jpg');
	background-repeat: no-repeat;
}

.f {
	background-image: url('../images/6.jpg');
	background-repeat: no-repeat;
}


.more {
	width: 100vw;
	max-width: 1280px;
	background-color: #6E6E6E;
	height: 170px;
}
.more div {
	width: 20%;
	display: inline-block;
	padding: 15px;
}

.name th {
	font-size: 28px;
	text-align: center;
	color: #FF8000;
}

.name td {
	font-size: 20px;
	text-align: center;
}

.adress th {
	font-size: 28px;
	text-align: center;
	color: #FF8000;
}

.adress td {
	font-size: 20px;
	text-align: center;
}

.contact th {
	font-size: 28px;
	text-align: center;
	color: #FF8000;
}

.contact td {
	font-size: 20px;
	text-align: center;
}

.contact button {
	background-color: #FF8000;
	border-color: #FF8000;
}

.links th {
	font-size: 28px;
	text-align: center;
	color: #FF8000;
}

.links td {
	font-size: 20px;
	text-align: center;
}


.footer {
	background-color: #FF8000;
	width: 100vw;
	max-width: 1280px;
	height: 52px;
	padding: 1px;
}

.footer p {
		font-size: 34px; 
		padding: 5px;
		margin: 0px;
}